:root {
    --renk-pasif: #f0f0f0; /* ?? */
    --mavi: #0071bd; /* anadiv */
    --acik-mavi: #71deff; /* inaktif solpanel vs */
    --koyu-mavi: rgb(6, 64, 112); /* scrollbar vs */
    --dahakoyu-mavi: rgb(5, 44, 77); 
}

html {
    /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal; */
    font-family: "Bricolage Grotesque", sans-serif;
    
}



.bricolage-grotesque-<uniquifier> {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.top-bar {
    position: fixed;
    top: 4vh;
    left: 10%;
    width: 80%;
    min-width: 510px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    border-radius: 20px;



    
    
}

.top-bar .anabar{
    display: flex;

    
     
    
    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.top-bar .anabar .orta {
    display: flex;
    align-items: center;
    
    
    text-decoration: dotted;
    
}

.anabar .logo{
    background-color: var(--koyu-mavi);
    height: 60px;
    width: 100px;
    border-radius: 20px 0 0 20px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;   
    justify-content: center;
    text-decoration: none;
}

.orta a {
    font-size: 16px;
    color: var(--koyu-mavi);
    text-decoration: none;
    padding: 0 4vw;
    display: flex;
    
}

.orta a:hover {
    background-color: var(--koyu-mavi);
    color: white;
    height: 60px;
    
    transition: 0.5s;
    display: flex;
    align-items: center;
    
    

}

.anabar .sag  a{
    font-size: 16px;
    background-color: var(--koyu-mavi);
    height: 60px;
    width: 100px;
    border-radius: 0 20px 20px 0;
    color: white;

    display: flex;
    align-items: center;   
    justify-content: center;

    text-decoration: none;
}





/* İnputları gizle +++++++++++++++++++++++++++++++++++++++++*/
input[type="radio"] {
    display: none;
}

/* Varsayılan Arka Plan */
.animasyonlu-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    /* Tüm renkleri buraya tek seferde yazıyoruz */
    background: linear-gradient(to right, #ffaae6, #ffe695, #4795c9, #cc297a, black);
    background-size: 400% 100%; /* Arka planı 4 kat genişletiyoruz */
    
    transition: background-position 1.2s ease-in-out; /* Kayma hızı */
    background-position: 0% 0%; /* Başlangıç (Tab 1) */
}

/* Hangi tab seçiliyse arka planı o renge doğru kaydır */
#tab1:checked ~ .animasyonlu-bg { background-position: 0% 0%; }
#tab2:checked ~ .animasyonlu-bg { background-position: 35% 0%; }
#tab3:checked ~ .animasyonlu-bg { background-position: 55% 0%; }
#tab4:checked ~ .animasyonlu-bg { background-position: 75% 0%; }
#tab5:checked ~ .animasyonlu-bg { background-position: 100% 0%; }

/* Doğru Seçici: Önce input, sonra aşağısındaki anadiv, sonra onun içindeki label */
#tab4:checked ~ .anadiv .solpanel label[for="tab1"],
#tab4:checked ~ .anadiv .solpanel label[for="tab2"],
#tab4:checked ~ .anadiv .solpanel label[for="tab3"],
#tab4:checked ~ .anadiv .solpanel label[for="tab5"]
 {
    color: white;
}
#tab5:checked ~ .anadiv .solpanel label[for="tab1"],
#tab5:checked ~ .anadiv .solpanel label[for="tab2"],
#tab5:checked ~ .anadiv .solpanel label[for="tab3"],
#tab5:checked ~ .anadiv .solpanel label[for="tab4"]
 {
    color: white;
}


#tab5:checked ~ .anadiv {
    border: white 3;
}

/* Aktif Butonun Rengini Değiştirmek */
#tab1:checked ~ .anadiv .solpanel label[for="tab1"],
#tab2:checked ~ .anadiv .solpanel label[for="tab2"],
#tab3:checked ~ .anadiv .solpanel label[for="tab3"],
#tab4:checked ~ .anadiv .solpanel label[for="tab4"],
#tab5:checked ~ .anadiv .solpanel label[for="tab5"] {
    background-color: white;
    font-weight: bold;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


body  {
    place-items: center;

    background: linear-gradient(-45deg, var(--dahakoyu-mavi), var(--acik-mavi), var(--acik-mavi), var(--koyu-mavi));
    background-size: 400% 400%; /* Arka planı büyüt ki animasyon akabilsin */
    animation: gradientAnim 15s ease infinite;


    margin: 0; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes gradientAnim {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h2 {
    color: var(--koyu-mavi);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.38em;
    margin-block-end: 0.68em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Animasyonun Tanımı */
@keyframes salinim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* En tepe nokta */
    }
    100% {
        transform: translateY(0);
    }
}

.anadiv {
    
    /* Mevcut özelliklerin... */
    display: flex;
    transition: transform 0.3s ease; /* Mouse çekildiğinde yumuşak geçiş için */
    
    /* Animasyonu başlat */
    animation: salinim 4s ease-in-out infinite; 

    

    
}

/* Mouse üzerindeyken animasyonu durdur */
.anadiv:hover {
    animation-play-state: paused;
    transform: translateY(0); /* Mouse üzerindeyken sabit kalsın */
    height: 600px;
    
}

.anadiv {
    display: flex;
    height: 500px; /* Sabit bir yükseklik verdik ki sağ taraf kayabilsin */
    border: 3px var(--acik-mavi);
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    width: 75vw;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    transition: 0.3s;
    margin-top: 40px;
    
}

.solpanel {
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    width: 70px; /* Genişliğin ufak kısmını alır */
    display: flex;
    flex-direction: column;
    position: relative;
    border: 5px var(--mavi);
    text-align: center;
    
    transition: 0.5s; /* soldan saga butonlar kayıyor */
    
    
}

.solpanel:hover {
    width: 100px;

}


.solpanel label{
    align-content: center;
    
}

.tab-link {
    flex: auto; /* 5 başlık olduğu için her biri %20 yükseklik kaplar */
    border: none;
     
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--mavi) 1;
    color: var(--dahakoyu-mavi);
    font-size: 14px;
    font-weight: 500;

    position: relative;

    cursor: default;
    transition: 0.3s;
    transition: color 0.5s ease;
}

.tab-link:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.5s;
}   

@media (min-width: 768px) {

.tab-link::after {
    content: ""; /* İçerik boş olmalı */
    position: absolute;
    bottom: 0; /* Butonun en altına koy */
    left: 20%; /* Sağdan soldan %10 boşluk bırak (%80 genişlik kalır) */
    width: 60%; /* Çizginin genişliği */
    height: 1px; /* Çizginin kalınlığı */
    background-color: var(--koyu-mavi); /* Çizginin rengi */

    transition: background-color 0.5s ease;
    
}

label[for=tab5]::after{
    display: none;
}

/* Hangi radyo buton seçiliyse (checked), ona ait olan label'ın ::after çizgisini gizle */
#tab1:checked ~ .anadiv .solpanel label[for="tab1"]::after,
#tab2:checked ~ .anadiv .solpanel label[for="tab2"]::after,
#tab3:checked ~ .anadiv .solpanel label[for="tab3"]::after,
#tab4:checked ~ .anadiv .solpanel label[for="tab4"]::after,
#tab5:checked ~ .anadiv .solpanel label[for="tab5"]::after {
    display: none;
}

/* Aktif butonun bir üstündeki butonun çizgisini de gizle */
#tab2:checked ~ .anadiv .solpanel label[for="tab1"]::after,
#tab3:checked ~ .anadiv .solpanel label[for="tab2"]::after,
#tab4:checked ~ .anadiv .solpanel label[for="tab3"]::after,
#tab5:checked ~ .anadiv .solpanel label[for="tab4"]::after {
    display: none;
}


#tab4:checked ~ .anadiv .solpanel label::after,
#tab5:checked ~ .anadiv .solpanel label::after {
    color: white;
    background-color: white;
    transition: 1;
}

}


/* Aktif başlık ve Sağ Panel Renk Uyumu */
.tab-link.active {
    background-color: white;
    border-right: none; /* Sağdaki panele geçişte çizgi olmasın */
    font-weight: 600;
    
}

.sagpanel {
    flex: 3; /* Genişliğin büyük kısmını alır */
    background-color: white; /* B rengi */
    padding: 20px;
    
    color: var(--dahakoyu-mavi);
    overflow: hidden;

    font-size: 17px;


}



.icerik {
    
    width: 60vw;
    padding-left: 1vh;
}
    
    /* B rengi (İçerikle aynı) */

.tab-icerik {
    display: none; /* Varsayılan olarak gizli */
}

::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
  background: rgb(233, 233, 233);
  padding: 0;
  margin: 80px 0 115px 0;
  border-radius: 20px;
  
  
}

::-webkit-scrollbar-thumb {
    background-color: var(--koyu-mavi);
    border-radius: 20vh;
    height: 10px;
}

/* 1. Tüm içerikleri başlangıçta gizle */
.icerik {
    display: none;
    opacity: 0;
    height: 0;
    
    transition: opacity 1s ease; /* Geçişlerin yumuşak olması için */
    overflow-y: auto;
}

/* 2. Hangi radyo butonu checked ise, onunla eşleşen içeriği göster */
#tab1:checked ~ .anadiv .sagpanel .ic1,
#tab2:checked ~ .anadiv .sagpanel .ic2,
#tab3:checked ~ .anadiv .sagpanel .ic3,
#tab4:checked ~ .anadiv .sagpanel .ic4,
#tab5:checked ~ .anadiv .sagpanel .ic5 {
    display: block;
    opacity: 1;
    height: auto;
    overflow: visible;
}

.sagpanel {
    flex: 5;
    background-color: white;
    overflow-y: auto;
       /* Sadece içerik taşarsa bar çıksın */
    position: relative;
    height: 100%;        /* anadiv'in boyuna eşitle */
    z-index: 5;          /* Tooltip'in altında kalması için */
}

.tooltip-kelime {
    
    
    cursor: pointer;
    position: relative;

    display: inline-block; /* BU ÇOK ÖNEMLİ: Kutu gibi davranmasını sağlar */
    vertical-align: top; /* Üst satıra kaymayı engellemek için metin hizasına sabitle */
    line-height: normal;

    z-index: 10;
    
}

/* Baloncuğun Tasarımı */
.tooltip-kelime::after {
    content: attr(data-bilgi); /* data-bilgi içindeki metni çek */
    position: absolute;
    bottom: 1.5em; /* Kelimenin üstünde dursun */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333ea;
    color: #fff;

    margin-left: -20px;    
    padding: 8px 12px;   
    
    border-radius: 6px;
    min-width: 100px;
    width: max-content;
    
    max-width: 500px;
    font-size: 17px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    z-index: 5000;
    
}

/* Üzerine gelince göster */
.tooltip-kelime:hover::after {
    opacity: 1;
    visibility: visible;
    
}

/* Sağ panelin içinde herhangi bir yerde #toppadding'e hover yapılırsa panel esnesin */
.sagpanel .icerik:has(#toppadding:hover) {
    
    padding-top: 30px;
    transition: all 0.3s ease; /* Yumuşak geçiş için */
}


/* Masaüstü kodların yukarıda kalır... */

/* 768px ve altı cihazlar (Telefonlar) için geçerli kurallar */
@media (max-width: 768px) {

/* ---------top-bar--------------------------------------------------- */

    


    .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 60px;
    background-color: #0071bd23;
    
    color: var(--dahakoyu-mavi);
    display: flex;
    align-items: center ;
    justify-content: center;
    font-size: 8px;
    font-weight: bold;
    z-index: 10;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    border-radius: 0;



    
    
}

.top-bar .anabar{
    display: flex;

    font-size: 12px;
     
    
    width: 100%;

    position: relative;
   
}

.top-bar .anabar .orta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    
}



.anabar .logo{
    background-color: rgba(255, 255, 255, 0.527);
    height: 60px;
    width: 100px;
    border-radius: 0;
    color: rgb(87, 9, 67);
    font-size: 12px;
    display: flex;
    align-items: center;   
    justify-content: center;
    text-decoration: none;
}

.orta {
    width: 100vw;  
    
}

.orta a {
    font-size: 12px;
    color: var(--koyu-mavi);
    text-decoration: none;
    padding: 0 2wv;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 60px;

    transition: 0.5s;
    
}

#tab4:checked ~ .top-bar .anabar .orta a,
#tab5:checked ~ .top-bar .anabar .orta a {
    color: white;
    
    
}

.orta a:hover {
    background-color: var(--koyu-mavi);
    color: white;
    height: 60px;
    
    transition: 0.5s;
    display: flex;
    align-items: center;

}




.anabar .sag  a{
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.527);
    height: 60px;
    width: 100px;
    border-radius: 0;
    color: rgb(87, 9, 67);

    display: flex;
    align-items: center;   
    justify-content: center;

    text-decoration: none;

    
}

/* ------------------------------------------------------------------ */

    
    /* Yan yana olan panelleri alt alta getir */
    .anadiv {
        flex-direction: column; 

        
    }

    .anadiv:hover {
    animation-play-state: paused;
    
    height: 700px;
    
    }

    .anadiv {
    display: flex;
    height: 700px; /* Sabit bir yükseklik verdik ki sağ taraf kayabilsin */
    border: 3px var(--acik-mavi);
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    width: 75vh;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    transition: 0.3s;
    margin-top: 40px;

    animation: none;
    
    }

    .solpanel, .sagpanel {
        width: 100%; /* Paneller ekranı tam kaplasın */
        height: auto;
        
        
    }

    .solpanel{
        display: flex;
        flex-direction: row;
        height: 50px;
        box-shadow: none;
    }

    .solpanel:hover {
        height: 70px;
        width: 100%;
    }

    .tab-link {
    flex: auto; /* 5 başlık olduğu için her biri %20 yükseklik kaplar */
    border: none;
     
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    background-color: var(--mavi) 1;
    color: var(--dahakoyu-mavi);
    font-size: 14px;
    font-weight: 500;

    position: relative;

    cursor: default;
    transition: 0.3s;
    transition: color 0.5s ease;
    }


    .tablink:hover {
        background-color: rgb(150, 150, 150);
    }

.tab-link::after {
    content: ""; /* İçerik boş olmalı */
    position: absolute;
    left: 0px; /* Butonun sagına koy */
    top: 20%; /* yukardan aşağı %10 boşluk bırak (%80 genişlik kalır) */
    width: 1px; /* Çizginin genişliği */
    height: 60%; /* Çizginin kalınlığı */
    background-color: var(--koyu-mavi); /* Çizginin rengi */

    transition: background-color 0.5s ease;
    
    }

    /* Aktif Butonun Rengini Değiştirmek */
#tab1:checked ~ .anadiv .solpanel label[for="tab1"],
#tab2:checked ~ .anadiv .solpanel label[for="tab2"],
#tab3:checked ~ .anadiv .solpanel label[for="tab3"],
#tab4:checked ~ .anadiv .solpanel label[for="tab4"],
#tab5:checked ~ .anadiv .solpanel label[for="tab5"] {
    background-color: white;
    font-weight: bold;
}

    label[for=tab1]::after{
    display: none;
}
label[for=tab5]::after{
    display: absolute;
}

/* Hangi radyo buton seçiliyse (checked), ona ait olan label'ın ::after çizgisini gizle */
#tab1:checked ~ .anadiv .solpanel label[for="tab2"]::after,
#tab2:checked ~ .anadiv .solpanel label[for="tab3"]::after,
#tab3:checked ~ .anadiv .solpanel label[for="tab4"]::after,
#tab4:checked ~ .anadiv .solpanel label[for="tab5"]::after,
#tab5:checked ~ .anadiv .solpanel label[for="tab5"]::after {
    display: none;
}

/* Aktif butonun bir üstündeki butonun çizgisini de gizle */
#tab2:checked ~ .anadiv .solpanel label[for="tab2"]::after,
#tab3:checked ~ .anadiv .solpanel label[for="tab3"]::after,
#tab4:checked ~ .anadiv .solpanel label[for="tab4"]::after,
#tab5:checked ~ .anadiv .solpanel label[for="tab5"]::after {
    display: none;
}


#tab4:checked ~ .anadiv .solpanel label::after,
#tab5:checked ~ .anadiv .solpanel label::after {
    color: white;
    background-color: white;
    transition: 1;
}





    /* Yazı boyutlarını küçült */
    p {
        font-size: 16px;
    }

    /* Baloncuğu (Tooltip) mobilde devasa yapma */
    .tooltip-kelime::after {
        width: 90%;
        left: 5%;
        transform: none;
        max-width: none;
        bottom: 110%;
    }


    .sagpanel {
        flex: 7;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
           /* Sadece içerik taşarsa bar çıksın */
        position: relative;
        height: 100%;        /* anadiv'in boyuna eşitle */
        z-index: 5;          /* Tooltip'in altında kalması için */
    }

    




    .icerik {
    
    width: 90vw;
    padding-left: 2vw;
    }
    
    /* B rengi (İçerikle aynı) */

    .tab-icerik {
    display: none; /* Varsayılan olarak gizli */
    }

}

@media (max-width: 500px) {
    .logo , .sag {
        /* Bazı öğeleri mobilde gizle */
        display: none; 
    }
    .anabar .logo{
        display: none;
    }

    .anabar{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;
        
        
    }

    
}
